.App {
  text-align: center;
  background: burlywood;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  text-align: center;
  border: rgb(0, 0, 0) solid 3px;
  background: rgb(255, 250, 238);
  border-style: double;
  padding: 1rem;
  width: 17rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  /* box-shadow: 3px 4px #000000 */
}
.card-hidden {
  text-align: center;
  /* border: rgba(255, 255, 255, 0) solid 0px;
  padding: 1rem;
  width: 15rem;
  height: 25rem; */
  display: inline-grid;
  /* margin: 1rem 2rem; */
  /* box-shadow: 3px 4px #000000 */
}

.seed-avatar {
  justify-self: center;
  height: 12rem;
  width: auto;
}

button {
  position: relative;
  background-color: #ffffff;
  border: #000000 solid 1px;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: rgb(0, 0, 0);
  font-size: 18px;
  justify-self: center;
}

button:hover {
  background-color: rgb(216, 216, 216);
  border: #000000 solid 1px;
  color: #063b0d;
}